<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flashcard.iedu.flashcard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_menu" />
        <activity
            android:name=".SignupActivity"
            android:label="@string/title_activity_signup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu" />
        <activity
            android:name=".samples.tab.CollectionDemoActivity"
            android:label="@string/demo_collection" />
        <activity
            android:name=".samples.flip.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".samples.flip.CrossfadeActivity"
            android:label="@string/title_crossfade"
            android:parentActivityName=".samples.flip.MainActivity"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".samples.flip.MainActivity" />
        </activity>
        <activity
            android:name=".samples.flip.CardFlipDemoActivity"
            android:label="@string/title_card_flip"
            android:parentActivityName=".samples.flip.MainActivity"
            android:theme="@style/DarkTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".samples.flip.MainActivity" />
        </activity>
        <activity
            android:name=".samples.flip.ScreenSlideActivity"
            android:label="@string/title_screen_slide"
            android:parentActivityName=".samples.flip.MainActivity"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".samples.flip.MainActivity" />
        </activity>
        <activity
            android:name=".samples.flip.ZoomActivity"
            android:label="@string/title_zoom"
            android:parentActivityName=".samples.flip.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".samples.flip.MainActivity" />
        </activity>
        <activity
            android:name=".samples.flip.LayoutChangesActivity"
            android:label="@string/title_layout_changes"
            android:parentActivityName=".samples.flip.MainActivity">
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".samples.flip.MainActivity" />
        </activity>
        <activity android:name=".WordBookActivity" />
        <activity android:name=".WordBookListActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".WordActivity" />
        <activity android:name=".MatchActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".samples.setting.AppPreferences" />
        <activity android:name=".samples.fragmentList.MyFragmentListActivity" />

        <!-- Example Setting -->
        <activity android:name=".samples.setting.SettingTestActivity" />

        <!-- Example List -->
        <activity android:name=".samples.list.MyFragmentActivity" />

        <!-- Example Fragment -->
        <activity android:name=".samples.fragment.MyFragmentTest" />

        <!-- Example CardFlip -->
        <activity android:name=".samples.cardFlip.MyCardFlipActivity" />

        <!-- Example Tab -->
        <activity
            android:name=".samples.tab.TabDemoActivity"
            android:label="@string/app_name" />
        <activity android:name=".samples.serverConn.ServiceTestActivity" />
        <activity android:name=".samples.dynamic_list.ListViewDemo" />
        <activity android:name=".CardListMainActivity" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".QuizMultipleChoiceActivity" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".ImportActivity" />
        <activity android:name=".WordEditActivity" />
        <activity android:name=".WordBookEditActivity" />
        <activity android:name=".samples.SwipeListView.ListViewExample" />
        <activity android:name=".WordBookInfoActivity" />
    </application>

</manifest>